@import '../../../styles/color.less';
@import '../../../styles/grid.less';

.DCNPanel {
	box-sizing: border-box;
	width: 100%;
	padding: @base-size;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}