@import "../../styles/grid.less";
@import '../../styles/color.less';
@import "../../styles/mixins.less";
@import "../../styles/animations.less";
@import "../../styles/type.less";
//Hiding the bottom rounded corners that highcharts makes when setting borderRadius on column charts
.chart_container {
	width: 100%;
	background: #FFFFFF;
	position: relative;
}
.vbar_container {
	composes: chart_container;
	overflow: hidden;
}
.vbar {
	transform: translateY(34px);
}
.center_display {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon {
		height: @button-height;
		width: auto;
	}
	.label {
		.lightFontLarge();
		color: @primary-dark;
		text-transform: uppercase;
	}
}