/* Color definitions */

/* Primary Colors */
@primary: #64BBE3;
@primary-bright: #00BCEB;
@primary-dark: #35364B;
@primary-bg: #F4F4F4;

/* Secondary Colors */
@disable-bg: #DFDFDF;
@disable-text: #C6C6C6;
@focus: #ABC233;
@row-attention: #FFEFF5;
@row-highlight: #FAFAFA;
@input-bg: #EDF1F2;
@footnote: #3C3D4A;

/* Status Colors */
@bad: #F2466E;
@warn: #FF9350;
@info: #53C2CD;
@success: #5BDD97;

/* Other colors */
@white: #FFFFFF;
@shadow: rgba(0,0,0,0.2);
@panel-header:#9B9B9B;

/* Alerts */
@critical: #CF202F;
@major: #FF7E1F;
@minor: #F8CD46;
@other: #00BCEB;