/* Typography */

@regular-text: 16px;
@small-text: 12px;

@font-face {
	font-family: 'regular';
	src: url('../assets/fonts/CiscoSansTTRegular.ttf');
	font-weight: normal;
	font-style: normal;
}

.regularFont() {
	font-family: regular,"helvetica neue", sans-serif;
	font-size: @regular-text;
	font-style: normal;
	font-weight: normal;
}
.regularFontSmall() {
	font-family: regular,"helvetica neue", sans-serif;
	font-size: @small-text;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'light';
	src: url('../assets/fonts/CiscoSansTTLight.ttf');
	font-weight: lighter;
	font-style: normal;
}

.lightFont() {
	font-family: light,"helvetica neue", sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: @regular-text;
}

.lightFontSmall() {
	font-family: light,"helvetica neue", sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: @small-text;
}

@font-face {
	font-family: 'heavy';
	src: url('../assets/fonts/CiscoSansTTHeavy.ttf');
	font-weight: bold;
	font-style: normal;
}

.heavyFont() {
	font-family: heavy,"helvetica neue", sans-serif;
	font-style: normal;
	font-weight: bold;
}