/* Typography */
@score-text: 65px;
@giant-text: 30px;
@large-text: 20px;
@regular-text: 16px;
@small-text: 12px;
@mini-text: 9px;

@font-face {
	font-family: 'Cisco';
	src: url('../assets/fonts/CiscoSansTTRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.regularFont() {
	font-family: 'Cisco';
	font-size: @regular-text;
	font-style: normal;
	font-weight: normal;
	color: @primary-dark;
}
.regularFontSmall() {
	font-family: 'Cisco';
	font-size: @small-text;
	font-style: normal;
	font-weight: normal;
}
.regularFontGiant() {
	font-family: 'Cisco';
	font-size: @giant-text;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'CiscoLight';
	src: url('../assets/fonts/CiscoSansTTLight.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

.lightFont() {
	font-family: 'CiscoLight';
	font-style: normal;
	font-weight: lighter;
	font-size: @regular-text;
}

.lightFontSmall() {
	font-family: 'CiscoLight';
	font-style: normal;
	font-weight: lighter;
	font-size: @small-text;
}
.lightFontLarge() {
	font-family: 'CiscoLight';
	font-style: normal;
	font-weight: lighter;
	font-size: @large-text;
}
.lightFontGiant() {
	font-family: 'CiscoLight';
	font-style: normal;
	font-weight: lighter;
	font-size: @giant-text;
}

.lightFontMini() {
	font-family: 'CiscoLight';
	font-style: normal;
	font-weight: lighter;
	font-size: @mini-text;
}

@font-face {
	font-family: 'CiscoHeavy';
	src: url('../assets/fonts/CiscoSansTTHeavy.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.heavyFont() {
	font-family: 'CiscoHeavy';
	font-style: normal;
	font-weight: bold;
	font-size: @regular-text;
}

.heavyFontSmall() {
	font-family: 'CiscoHeavy';
	font-style: normal;
	font-weight: bold;
	font-size: @small-text;
}

.heavyFontLarge() {
	font-family: 'CiscoHeavy';
	font-style: normal;
	font-weight: bold;
	font-size: @large-text;
}