/* Color definitions */
/* Primary Colors */
/* Secondary Colors */
/* Status Colors */
/* Other colors */
/* Grid system and spacing definitions */
/* Other sizes */
/* Useful mixins */
.focusBox {
  outline: 2px dotted #ABC233;
  outline-offset: 6px;
}
/* Typography */
@font-face {
  font-family: 'Cisco';
  src: url('assets/fonts/CiscoSansTTRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoLight';
  src: url('assets/fonts/CiscoSansTTLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoHeavy';
  src: url('assets/fonts/CiscoSansTTHeavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.kitchen_sink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: blue;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
